<div id="user-list-template">
  	<div class="panel panel-info">
		<div class="panel-heading">Lista utenti</div>
			<table class="table striped">
	  		<thead>
	  			<tr>
	  				<th>Nome utente</th>
	  				<th>Nome</th>
	  				<th>Cognome</th>
	  			</tr>
	  			
	  		</thead>
	  		<tbody>
	  			<% _.each(users, function(user){ %>
	 	 			<tr>
	  					<td><%= user.slug %></td>
	  					<td><%= user.first_name %></td>
	  					<td><%= user.last_name %></td>
	  				</tr>
	  			<% }); %>
	  		</tbody>
	  	</table>
	</div> 
</div>
