/* app css stylesheet */

.banner {
	background: aqua;
	margin-bottom: 2em;
	padding: 2em 0;
}

.content-info {
	background: gray;
	color: white;
	padding: 2em 0;
}

.page-header {
	margin-top: 0;
}

.page-header h2 {
	margin-top: 0;
}

.libraries {
	margin: 0;
	padding: 0;
	clear: both;
}

.libraries li {
	list-style: none;
}

.cat-list {

}

.cat-list li {
	float: left;
	margin: 0 0 0 0.5em;
}

.panel-title {
	font-size: 24px;
}

.panel-title span {
	font-size: 18px;
	margin: 0 0.35em 0 0;
}