<!--Body content-->

<ul class="libraries">
  <li ng-repeat="phone in phones | filter:query | orderBy:orderProp" class="phone panel panel-default">
  	<div class="panel-heading">
  		<a href="#/library/{{phone.ID}}" class="btn btn-success"><span class="glyphicon glyphicon-arrow-down"></span></a>
  		<h2 class="panel-title">{{phone.title}}</h2>
  	</div>
  	<div class="panel-body">
      	<ul>
    			<li ng-repeat="category in phone.terms.category"><a href="{{category.link}}" class="btn btn-primary">{{category.name}}</a></li>
    		</ul>
  	<div ng-bind-html="phone.content"></div>
    </div>
  </li>
</ul>
